<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update details here</title>
</head>
<body>
<h2>Update details here</h2>

<form th:action="@{/update/{sid}(sid=${student.sid})}" th:object="${student}" method="post">
Student id <input type="number" th:field="*{sid}" readonly />  <br> <br>
Name <input type="text" th:field="*{name}" /> <br> <br>
Course <input type="text" th:field="*{course}" />  <br> <br>
<button type="submit">Update</button>
</form>
</body>
</html>